@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans Thai", sans-serif !important;
  --obg: 0.7;
}

.ant-tag,
.ant-btn {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ant-tabs-nav {
  position: sticky !important;
  top: 0 !important;
  z-index: 10;
  background-color: hsl(var(--b1));
}

.receiptContainer {
  background-image: url(https://receiptify.herokuapp.com/wrinkled-paper-texture-7.jpg);
  background-position: center;
  filter: brightness(105%);
  padding: 20px;
}
