@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans Thai", sans-serif !important;
}

.ant-tag {
  display: inline-flex !important;
  align-items: center !important;
}
