@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap");
@font-face {
  font-family: "thermal-receipt";
  src: url("/font/thermal-receipt.ttf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans Thai", sans-serif;
  --obg: 0.7;
}

.thermal-receipt {
  font-family: "thermal-receipt" !important;
}

.ant-tag,
.ant-btn {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ant-tabs-nav {
  position: sticky !important;
  top: 0 !important;
  z-index: 10;
  background-color: hsl(var(--b1));
}

.receiptContainer {
  background-image: url(https://receiptify.herokuapp.com/wrinkled-paper-texture-7.jpg);
  background-position: center;
  filter: brightness(105%);
  padding: 20px;
}
